@import url('https://fonts.googleapis.com/css2?family=Copse&family=Nunito&family=Open+Sans&family=Poppins&family=Quicksand&family=Raleway:wght@200&family=Roboto&display=swap');
@font-face{
    src: url('../../../arial-font/arial.ttf');
    font-family: Arial, Helvetica, sans-serif;
}
.banner-parent-back{
    background: #ECECEC;
    height: 40vh;
    .banner-grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
        place-items: center;
        align-items: center;
        gap: 40px;
        width: 80%;
        margin: auto;
        padding: 25px 40px 25px 40px;
   
    }
    .person{
        img{
            width: 80%;
        }
    }
    .search{
        width: 100%;
        .cunty{
 
            h1{
                color: rgb(0, 0, 0);
                font-size: 55px;
               font-weight: 900;
               font-family: Arial, Helvetica, sans-serif;
                margin: 0;
                padding: 0;
                
                span{
                    color:#F65016;
                }
            }
            button{
                padding: 0;
                margin: 0;
                background: black;
                color: white;
                border: none;
                padding: 5px 20px;
                border-radius: 4px;

            }
        }
        input{
            padding: 15px 30px;

            border-radius: 4px;
            outline: none;
            width: 100%;
            margin-left: auto;
            box-shadow: 0 0px 0px 0 #000000;
         
          
            
       
            
            border-radius: 45px;
            margin-top: 20px;
            
        }
    }
}